html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

}

.like-container {
  position: relative;
  cursor: pointer;
}

.like-badge {
  top: -5px;
  right: 0;
  font-size: 9px;
  padding: 3px 5px;
  color: #4caf50;
  position: absolute;
  border-radius: 2px;
  background: #ddd;
}

.like-badge::before {
  content: '+';
}
